/* To respond dummy element, create CSS file. */
.breadcrumb {
  background-color: aliceblue;
  border: 1px solid #c3d3e1;
}

.breadcrumb-ol {
  list-style: none;
}

.breadcrumb-list {
  display: inline-block;
}

.breadcrumb-list + li::before {
  display: inline-block;
  margin: 0 0.5rem;
  transform: rotate(0.05turn);
  border-right: 0.1rem solid;
  height: 0.8rem;
  content: "";
}
